<div class="col md-12 text-center">
  <div class="col md-4 pokemons">
    <div class="circle-got"><a class=""><%= image_tag("pikachu.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
  <div class="col md-4 pokemons">
    <div class="circle-not-got"><a class=""><%= image_tag("question.png") %></a></div>
  </div>
</div>
