<div id="pokemon_get-container">
  <div class="row">
    <div class="col md-12 text-center">
      <div class="pokemon" style='background-image: url("<%= asset_path 'pokemon-back.jpeg' %>")'>
        <%= image_tag "", id: "pokemon-image" %>
      </div>
      <div class="title">
        <p id="pokemon-name"></p>
        <div class="title-get">
          <p>ゲットだぜ！</p>
        </div>
      </div>

      <div class="next-buttons">
          <%= link_to "おわる", {:controller => "openings", :action => "show"}, :class => "btn" %>
          <%= link_to "つぎ", {:controller => "games", :action => "show"}, :class => "btn" %>
      </div>

      <div class="collections block">
        <%= render 'collections' %>
      </div>
    </div>
  </div>
</div>

<script>
var isPokemonGet = window.localStorage.getItem("is_pokemon_get") == "true";
if (!isPokemonGet) { window.location.href = "/"; }
</script>
