<div id="collect-container">
  <div class="row">
    <div class="col md-12 text-center">
      <div class="title">
        <p>せいかい！</p>
      </div>
      <div class="good">
        <%= image_tag("good.png") %>
      </div>
      <div class="pokemon">
        <%= image_tag("pikachu.png") %>
      </div>
      <div class="description">
        <p>あと <span id="get-count"></span> かいで<br/>ポケモンゲット！</p>
      </div>
      <div class="next-buttons">
          <%= link_to "おわる", {:controller => "openings", :action => "show"}, :class => "btn" %>
          <%= link_to "つぎ", {:controller => "games", :action => "show"}, :class => "btn" %>
      </div>
      <div class="get-pokemon-button">
          <%= link_to "ポケモンゲット！", {:controller => "pokemon_gets", :action => "show"}, :class => "btn" %>
      </div>
    </div>
  </div>
</div>
